<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    
    <title>Friend List</title>
  </head>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">NavbarNotes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/lab-4/">Home</a>
        </li>
        <li class="nav-item activate">
          <a class="nav-link" href="/lab-4/notes-list">Notes List <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/lab-4/add-notes">Add</a>
        </li>
      </ul>
    </div>
  </nav>
  <style>
    .card-columns {
        margin-top: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }
    body {
          background-image: url("https://images.unsplash.com/photo-1517842645767-c639042777db?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bm90ZXN8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          background-attachment: fixed;
      }
      .activate {
        font-weight: bold;
      }
  </style>
  <body>
    <div class="card-columns">
      {% if notes %}
      {% for x in notes %}
      <div class="card text-center">
        <div class="card-header bg-secondary">
          <h5>{{x.title}}</h5>
        </div>          
        <div class="card-body">
              <p class="card-text">dari: {{x.fromWho}}</p>
              <p class="card-text">untuk: {{x.to}}</p>
              <p class="card-text">kata {{x.fromWho}}: {{note.message}}</p>
          </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </body>
</html>

