<form action=" " method="POST" style="text-align:center">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <head>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">NavbarNotes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/lab-4/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lab-4/notes-list">Notes List</a>
            </li>
            <li class="nav-item activate">
                <a class="nav-link" href="/lab-4/add-notes">Add <span class="sr-only">(current)</span></a>
            </li>
            </ul>
        </div>
        </nav>
    </head>
    <style>
      table, th, td {
        border: 2px solid rgba(0, 0, 0, 0.4);
        padding: 12px 15px;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.0em;
        font-family: sans-serif;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      }
      /* table.center tr {
        background-color: #f3f7f6;
        color: #050505;
        text-align: center;
      }       */
      body {
          background-image: url("https://images.unsplash.com/photo-1517842645767-c639042777db?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bm90ZXN8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          background-attachment: fixed;
      }
      .activate {
        font-weight: bold;
      }
    </style>
    <h1 style="text-align:center">
        Notes Untuk Teman Anda
    </h1>
        {% csrf_token %}
        <table align="center">
            {{form.as_table}}
        </table>
        <input type="submit" value="Submit">
    </form>