<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Notes List</title>
  </head>
  <head>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">NavbarNotes</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          <li class="activate">
              <a class="nav-link" href="/lab-4/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/lab-4/notes-list">Notes List</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/lab-4/add-notes">Add</a>
          </li>
          </ul>
      </div>
      </nav>
    </head>
  <body>
    <style>
      table, th, td {
        border: 2px solid rgba(0, 0, 0, 0.4);
        padding: 12px 15px;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.0em;
        font-family: sans-serif;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      }
      table.center tr {
        /* background-color: #f3f7f6;
        color: #050505; */
        text-align: center;
      }      
      table.center {
        margin-left: auto;
        margin-right: auto;
        font-size: 1.0em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      }
      body {
        background-image: url("https://images.unsplash.com/photo-1517842645767-c639042777db?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bm90ZXN8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
      }
      table.center tbody tr {
        border-bottom: 1px solid #dddddd;
      }
      .activate {
        font-weight: bold;
      }
      /* table.center tbody tr:nth-of-type(even) {
        background-color: #cacaca;
      } */
    </style>
    <h1 style="text-align:center">
      Ini Tabel Notes
    </h1>
    <table class="center">
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <tbody>
      {% if notes %} 
        {% for x in notes %} 
          <tr>
            <td>{{ x.fromWho }}</td> 
            <td>{{ x.to }}</td>
            <td>{{ x.title }}</td>
            <td>{{ x.message }}</td>
          </tr>  
        {% endfor %} 
      {% endif %}
      <!-- EXAMPLE SECTION -->
      <!-- END SECTION -->
    </tbody>
    </table>
  </body>
</html>
