<form action=" " method="POST" style="text-align:center">
<h1 style="text-align:center">
    Silahkan Tambahkan Teman Anda
</h1> 
<hr>
    {% csrf_token %}
    <table align="center">
        {{form.as_table}}
    </table>
    <style> 
    /* body {
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Friends_.jpg/800px-Friends_.jpg");
    } */
    </style>    
    <input type="submit" value="Submit">
</form>