<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <style>
      h1 {text-align: center;}
      table, th, td {
        border: 1px solid rgba(0, 0, 0, 0.4);
        padding: 5px 5px;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.9em;
        font-family: sans-serif;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      }
      /* table.center {
        margin-left: auto;
        margin-right: auto;
      } */
      body {
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Friends_.jpg/800px-Friends_.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
      }
    </style>
    <h1>Ini Friend List</h1>
    <br>
    <table class="center">
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% if friends %} 
        {% for x in friends %} 
        <tr>
          <td>{{ x.name }}</td> 
          <td>{{ x.npm }} </td>
          <td>{{ x.dob }} </td>
        </tr>
        {% endfor %} 
      {% endif %}
      <!-- EXAMPLE SECTION -->
      <!-- END SECTION -->
    </table>
  </body>
</html>
