<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Jurnal Michael</title>
  </head>
  <body>
    <table>
      <tr>
        <th>fromWho</th>
        <th>to</th>
        <th>title</th>
        <th>message</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% if Note %} 
        {% for x in Note %} 
        <tr>
          <td>{{ x.fromWho }}</td> 
          <td>{{ x.to }} </td>
          <td>{{ x.title }} </td>
          <td>{{ x.message }} </td>
        </tr>
        {% endfor %} 
      {% endif %}
      <!-- EXAMPLE SECTION -->
      <!-- END SECTION -->
    </table>
  </body>
</html>
