<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% if friends %} 
        {% for x in friends %} 
        <tr>
          <td>{{ x.name }}</td> 
          <td>{{ x.npm }} </td>
          <td>{{ x.dob }} </td>
        </tr>
        {% endfor %} 
      {% endif %}
      <!-- EXAMPLE SECTION -->
      <!-- END SECTION -->
    </table>
  </body>
</html>
